<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<main>
	<link rel="stylesheet" href="/assets/css/alertswrapper.css">
	<%- include('partials/alerts') %>
	<%- body %>

	<script src="/assets/js/script.js"></script>
</main>