<link rel="stylesheet" href="/assets/css/volunteer.css">
<link href="./Volscript.js">

<div class="box">
    <p class="heading">Join Us</p>
    <div class="faqs">
       <details>
          <summary>Crisis Line Specialist</summary>
          <p class="text">Our crisis line is open 24x7 to help all those facing domestic violence or other types of gender based violence. We believe that there should be someone to listen irrespective of the time. If your strengths are patient listening, non-judgemental attitude, empathy and the ability to remain calm in a crisis, then this role is for you. We will train you in the role before you can be deployed as a Crisis Line Volunteer. </p>
       </details>
       <details>
          <summary>Legal Advisor</summary>
          <p class="text">Legal counsel is provided to all callers who need information on the Domestic Violence Act, divorce law, and any other gender-based violence laws in India. If you are a student of law or a practicing lawyer and believe in the cause of gender equality, then this role is for you.</p>
       </details>
       <details>
          <summary>Community Educator</summary>
          <p class="text">As a community educator you will be conducting workshops across age groups on topics related to gender, gender sensitisation, domestic violence, sexual harassment and child safety against sexual abuse. If your skills and interests are communicating, enthusiasm for learning, adaptability and public speaking then this role is for you.  </p>
       </details>
       <details>
        <summary>Fundraising Intern</summary>
        <p class="text">As a non-government and not for profit organisation we depend on donations and fund raising activities to continue our work. If you believe that you can use your strong communication skills and creativity to help generate funds then this role is for you. We are always on the lookout for dynamic individuals with the ability to reach out to Corporates and High Net Worth Individuals to build relationships, persevere, and raise resources for a worthy cause. </p>
       </details>
       <details>
        <summary>Social Media Intern</summary>
        <p class="text">Join our Social Media Team to help spread awareness about Aks Foundation and our cause using various platforms. If you are a content creator, a visual storyteller, creative and love making content work for you on a social web, then this role is for you. </p>
       </details>
       <details>
        <summary>Data and Research Intern</summary>
        <p class="text">Using data and research to monitor and evaluate our verticals is important to us. We are looking for interns with strong research and data analytical skills. If you enjoy working with excel, can visualise and present data, can evaluate information, ask questions and recommend improvements, then this role is for you. </p>
       </details>
       <br>
       <br>
       <button class="button-1" onclick="Form()">Volunteer!</button>
    </div>
    
 </div>

 <script>
    function Form(){
        window.open("/volunteerReq/registerVol" , "_self");
    }
 </script>