<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/mainStat.css" />
    <link rel="stylesheet" href="/assets/css/trans.css" />
  </head>
  <body>
    <div class="section">
      <div class="text">
        <h1>PUNJAB</h1>
        <p>
          One Stop Centre,Patiala <br /><br />
          Address:Mini Secretariat Road, Adjoining Red Cross Building, Patiala,
          Patiala District, Punjab 147001 .<br /><br />
          Contacts: 01752358713, 9501491998 <br />Email Id:srcwpunjab@gmail.c
        </p>
      </div>
      <img src="/assets/images/sakhi.jpeg" alt="" />
    </div>
  </body>
</html>
