<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/mainStat.css" />
    <link rel="stylesheet" href="/assets/css/trans.css" />
  </head>
  <body>
    <div class="section">
      <div class="text">
        <h1>SIKKIM</h1>
        <p>
          One Stop Centre,Gangtok <br /><br />
          Address:Lumsey, 5th Mile, Tadong, Gangtok District, Sikkim.<br /><br />
          Contacts: 9434188310, 0359-2280100 <br />Email Id:wcdsikkim@gmail.com
        </p>
      </div>
      <img src="/assets/images/sakhi.jpeg" alt="" />
    </div>
  </body>
</html>
