<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/assets/css/aboutUs.css">
    <title>About Us</title>
</head>
<body>
    <div class="header">
        <div class="innerheader">
            <img src="/assets/images/newlogo.jpg" alt="">
        </div>    
    </div>
    <section class="container">
        <br>
        <br>
        <img src = "/assets/images/text-1670858981460.png">
        <br>
        <br>
        <br>

        <p id = "one">
            Our story began with an idea, a thought that was planted in our founder, Barkha Bajaj’s,  mind while she was studying in the United States. Her work there, with survivors of abuse, violence and trauma, made her want to replicate similar support systems for survivors and victims in India. That little idea grew into a certainty as Barkha walked at a silent candlelight march for Nirbhaya in 2012.
            The plan took shape in the form of a fundraiser, followed by training of keen volunteers and the Aks Crisis Lines were launched on 15th August, 2013. The objective behind a 24 x 7 crisis line was to ensure that someone was there to listen to people in times of a crisis.
        </p>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="container2">
        <br>
        <br>
        <p id = "two">
            <img src="/assets/images/text-1670871754549.png">
        </p>
        <div id="w-w-dm-id">
            <div data-wkik-type="responsive-container-block" class="responsive-container-block bigContainer">
              <div data-wkik-type="responsive-container-block" class="responsive-container-block Container">
                <img src="/assets/images/download (1).jpeg" class="mainImg"/>
                <div class="allText aboveText">
                  <p class="text-blk headingText">Our Mission
                  </p>
                  <p class="text-blk subHeadingText">What drives us is our honest and focussed mission 
                  </p>
                  <p class="text-blk description">● Promoting awareness about the social evil of violence against women by leading community education and gender sensitization programees speeches and educational workshops 
                  </br>  ● That nobody should ever feel alone after suffering gender based violence.We are there to listen  acknowledge and empathise.
                  </br> ● Helping victims of sexual assualts, domestic violence and other forms of abuse. 
                  </p>
                </div>
              </div>
              <div data-wkik-type="responsive-container-block" class="responsive-container-block Container bottomContainer">
                <img src="/assets/images/images (1).jpeg" class="mainImg"/>
                <div class="allText bottomText">
                  <p class="text-blk headingText">Our Vision
                  </p>
                  <p class="text-blk subHeadingText">“A gender equal society, where violence is not the norm and everyone can lead a life free of abuse.”
                  </p>
                  <p class="text-blk description">We vision to achieve legal and systematic change that addresses violence and discrimination against women and girls around the world to create a general equal society , when no one is subjected to violence and abuse , world in which women are empowered and uplifted.
                  </p>
                </div>
              </div>
            </div>
          </div> 
    </section>
    
    <section class = "container3">
        <br>
        <br>
        
        <p id = "two">
            <img src = "/assets/images/text-1670871935983.png">
        </p>
        <br>

        <div class="wrapper">
          
          <div class="our_team">
              <div class="team_member">
                <div class="member_img">
                   <img src="/assets/images/d.png" alt="our_team">

                </div>
                <h3>Diksha Padiyar</h3>
                <span>Founder</span>
                <p>Second Year CS engineering student at Dayananda Sagar College of Engineering</p>
              </div>
              <div class="team_member">
                 <div class="member_img">
                   <img src="/assets/images/nfinal.png.png" alt="our_team">
                  
                </div>
                <h3>Navya Malhotra</h3>
                <span>Founder</span>
                <p>Second Year CS engineering student at Dayananda Sagar College of Engineering</p>
            </div>
              <div class="team_member">
                 <div class="member_img">
                   <img src="/assets/images/deon-modified.png" alt="our_team">
                
                </div>
                <h3>Deon Samuel</h3>
                <span>Founder</span>
                <p>Second Year CS engineering student at Dayananda Sagar College of Engineering</p>
            </div>
              <div class="team_member">
                 <div class="member_img">
                   <img src="/assets/images/aqdas-modified.png" alt="our_team">
                  
                </div>
                <h3>Aqdas Sajid</h3>
                <span>Founder</span>
                <p>Second Year CS engineering student at Dayananda Sagar College of Engineering</p>
            </div>  
          </div>
      </div>
          

    </section>
    <br>
    <br>
    <br>
    <br>

</body>
</html>