<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Men Need to Take Responsibility for the Epidemic of Men’s Violence!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/blog.css">
</head>

<body>

    <!-- design -->
    <section class="design" id="design">
        <div class="container">
            <div class="title">
                <h2>Men Need to Take Responsibility for the Epidemic of Men’s Violence!</h2>
                <p>By: Shravya Singh</p>
                <span>20 June, 2022</span>
            </div>

            <!-- blog -->
            <section class="blog1" id="blog1">
                <div class="container1">
                    <div class="title">
                        <div>Epidemic of Men’s Violence</div>
                    </div>
                    <br>
                    <div class="blog-content1">
                        <!-- item -->
                        <div class="blog-item1">
                            <div class="blog-img1">
                                <img src="/assets/images/voilence.png" alt="">
                            </div>
                            <div class="blog-text1">
                                <p>From domestic violence to mass shootings, men’s violence takes a deadly toll every
                                    day. Men’s violence has become mainstream in every corner of the world. It has been
                                    normalized through the Internet, social media, movies, computer games, TV and porn.
                                </p>
                                <div> 1) What is happening in the World</div>
                                <p>The World Health Organization estimates that 1 in 3 women worldwide have been
                                    subjected to either physical and/or sexual intimate partner violence or non-partner
                                    sexual violence in their lifetime.
                                    In the United States, 98% of perpetrators of mass shootings are men.
                                    Online violence like cyber-stalking, revenge porn, online harassment, sextortion,
                                    online trafficking and doxing has affected or been witnessed by 85% of women using
                                    the internet.
                                    So, why isn’t men’s violence addressed as the global epidemic it is?
                                    Language matters – put the focus on the perpetrator!
                                    Whether we’re speaking about gender-based violence or violence against women, we’re
                                    easily diminishing the issue through our language. We discuss it as a gender issue
                                    or a women’s issue – rather than what it truly is – a men’s issue.
                                    In Sweden, violence against women is officially named as men’s violence against
                                    women, which helps to put the focus where it belongs – on the perpetrator.
                                </p>
                                <div> 2) How to fight it</div>
                                <p>Accountability starts with language. As long as we continue to report about violence
                                    against women or other groups of the population, without mentioning who is
                                    perpetrating the violence, we are doing ourselves a disservice.
                                    For far too long, men have enjoyed impunity for the violence they’ve afflicted on
                                    women and misogyny has been normalized. Instead, the victims of violence have been
                                    analysed for their behaviour, choices, social class or even how they dress.
                                    Whether it’s media reporting or politicians debating, we need to ensure that the
                                    language used focuses on the destructive and even deadly actions of men.


                                </p>
                            </div>
                        </div>
                        <!-- end of item -->
                    </div>
                </div>
            </section>
            <!-- end of blog -->


</body>

</html>