<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>5 Ways to Join the Activism Against Gender-Based Violence!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/blog.css">
</head>

<body>

    <!-- design -->
    <section class="design" id="design">
        <div class="container">
            <div class="title">
                <h2>5 Ways to Join the Activism Against Gender-Based Violence!</h2>
                <p>By: Anne Fisher</p>
                <span>07 July, 2022</span>
            </div>

            <!-- blog -->
            <section class="blog1" id="blog1">
                <div class="container1">
                    <div class="title">
                        <div>Gender-based violence</div>
                    </div>
                    <br>
                    <div class="blog-content1">
                        <!-- item -->
                        <div class="blog-item1">
                            <div class="blog-img1">
                                <img src="/assets/images/GBV.jpg" alt="">
                            </div>
                            <div class="blog-text1">
                                <p>Over 1 in 3 women have an experience of gender-based violence in their life.
                                    Over 5 girls or women are killed by a family member every hour.
                                    Less than 40% of women who experience GBV seek any type of help or support.
                                    If you’re interested in supporting the campaign and cause but are unsure how, here
                                    are 5 practical ideas of how you can join the global fight against GBV:</p>
                                <div> 1) Learn about gender-based violence</div>
                                <p>One of the most vital things any one of us can do to support women’s rights and fight
                                    against GBV is to learn about it. Ensuring that we have the correct facts and data
                                    to
                                    not fall for disinformation is also a crucial step to take before we educate others.
                                    Look for reputable sources, like UN Women, where you can find trustworthy
                                    information,
                                    such as identifying signs of abuse and facts about GBV.</p>
                                <div> 2) Raise awareness online</div>
                                <p>One of the most vital things any one of us can do to support women’s rights and fight
                                    Use social media for good! Follow organisations and activists that work fighting
                                    GBV.
                                    Like and share their content so that it reaches a wider audience. For content ideas
                                    that
                                    you can share, see UN Women’s social media toolkit for this year’s campaign which
                                    includes messages, graphics, and more content ideas.</p>
                                <div> 3) Raise awareness in person</div>
                                <p>One of the most vital things any one of us can do to support women’s rights and fight
                                    One of my favourite experiences as an advocate happened when someone sitting across
                                    from
                                    me on the metro saw a pin I was wearing that said “ask me about PMDD”– and they did!
                                    I
                                    got to chat with the person and their friend for a while and raise their awareness
                                    of
                                    PMDD (premenstrual dysphoric disorder). This interaction taught me how even small
                                    things
                                    (like wearing a pin) and everyday actions (like riding the metro) can have an
                                    impact.</p>
                                <div> 4) Provide financial support </div>
                                <p>One of the most vital things any one of us can do to support women’s rights and fight
                                    Providing financial support is not a possibility for everyone – and that’s ok! If
                                    you’re
                                    able to make a financial donation comfortably, this is a powerful way to contribute
                                    to
                                    fighting GBV. Know that there’s no such thing as an insignificant donation, as any
                                    little bit makes a difference. If you’d like to provide financial support, always
                                    look
                                    for reputable organisations. Many women’s rights organisations have different
                                    options
                                    for donation, where you can donate safely even online, such as the UN Trust Fund to
                                    end
                                    Violence against Women. You can also look up local small organisations or charities
                                    as
                                    they may need extra financial support.</p>
                                <div> 5) Volunteer</div>
                                <p>One of the most vital things any one of us can do to support women’s rights and fight
                                    If you are able to, you can also volunteer with a local organisation to support
                                    their
                                    efforts of addressing GBV in your community. Many places around the world have
                                    women’s
                                    shelters providing support for women and girls where you could volunteer at
                                    different
                                    capacities. There are also ways to volunteer online, such as throughUnited Nations
                                    Volunteers (UNV) which provide many online opportunities.

                                </p>
                            </div>
                        </div>
                        <!-- end of item -->
                    </div>
                </div>
            </section>
            <!-- end of blog -->


</body>

</html>