<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>We Need to Talk About Periods in a More Inclusive Way!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/blog.css">
</head>

<body>

    <!-- design -->
    <section class="design" id="design">
        <div class="container">
            <div class="title">
                <h2>We Need to Talk About Periods in a More Inclusive Way!</h2>
                <p>By: Richa S</p>
                <span>18 March, 2022</span>
            </div>

            <!-- blog -->
            <section class="blog1" id="blog1">
                <div class="container1">
                    <div class="title">
                        <div>Period-Positivity</div>
                    </div>
                    <br>
                    <div class="blog-content1">
                        <!-- item -->
                        <div class="blog-item1">
                            <div class="blog-img1">
                                <img src="/assets/images/period.jpg" alt="">
                            </div>
                            <div class="blog-text1">
                                <p>The concepts of gender and sexuality are evolving at a decent pace to make the world
                                    more gender-fluid. Yet, the topic of ‘menstruation’ is still fraught with cissexism
                                    – or the discrimination against transgender and gender-nonconforming individuals.
                                </p>
                                <div> 1) The language we use is important</div>
                                <p>People usually tend to use the words women and girls when talking about periods. The
                                    use of gendered language when discussing periods can be harmful because it
                                    reinforces the false idea that menstruation equals women. This inevitably excludes
                                    individuals who do not identify as women, including trans men, non-binary folx,
                                    gender fluid, and intersex people. This can also isolate individuals who identify as
                                    a woman but do not menstruate. </p>
                                <div> 2) There’s a broad spectrum of those who menstruate</div>
                                <p>Navigating periods when all information, marketing, packaging, products, and
                                    discussions are targeted towards women exclusively can make people who do not fit
                                    within the common definition of “women” become easily isolated, marginalized,
                                    stigmatized, and discriminated against. When health care issues are gendered, it can
                                    further prevent trans and gender non-conforming from accessing essential information
                                    and resources to manage their health. Periods can also be a source of gender
                                    dysphoria for many who experience periods but do not identify as women or girls.
                                    Associating menstruation with womanhood can make them feel dysphoric about their
                                    bodies and struggle with how they see themselves.</p>
                                <div> 3) A woman is more than her anatomy</div>
                                <p>Menstruation being rooted in the idea of womanhood is also harmful to women who
                                    cannot menstruate. Cisgender women can sometimes not experience menstruation – a
                                    condition known as amenorrhoea, which can be attributed to a range of multiple
                                    factors such as low body weight, mental stress, excessive exercise, eating disorders
                                    such as anorexia, birth control, and hormonal imbalance (Polycystic ovary syndrome
                                    or thyroid malfunction) to list a few. It can also be due to menopause (the time
                                    that marks the end of your menstrual cycles). </p>
                                <div> 4) What does gender-inclusive language look like?</div>
                                <p>It is about time that we move past the idea that periods are rooted exclusively in
                                    “womanhood” rather than an experience that can be highly variable, and mean
                                    different things to different people. Dismantling this narrative starts with
                                    adjusting the way we talk about periods. It can be done by making simple changes in
                                    our everyday language surrounding menstruation. You should avoid using the words
                                    “women” or “girls” exclusively when discussing periods. Instead, you could use
                                    language like: “People who menstruate”, “people who have periods”, or
                                    “menstruators". Despite referring to products as “feminine hygiene products” or
                                    “women’s health” products, we can say “menstrual products” or “period products”. You
                                    can also use the names for the specific products you are referring to, such as
                                    “pads”, “tampons”, “liners”, “menstrual cups”, etc.</p>
                                <div> 5) Conclusion</div>
                                <p>Menstruation does not have to be assigned gender and the language we use is
                                    important. As the world is evolving to be more gender-fluid, the language around
                                    menstruation has to evolve to become more gender-neutral and inclusive too. It is
                                    important to remember that – not all women menstruate and not all people who
                                    menstruate are women.</p>
                            </div>
                        </div>
                        <!-- end of item -->
                    </div>
                </div>
            </section>
            <!-- end of blog -->


</body>

</html>