<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Make an Impact, Use Your Strengths!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/blog.css">
</head>

<body>

    <!-- design -->
    <section class="design" id="design">
        <div class="container">
            <div class="title">
                <h2>To Make an Impact, Use Your Strengths!</h2>
                <p>By: Rehana M</p>
                <span>20 January, 2022</span>
            </div>

            <!-- blog -->
            <section class="blog1" id="blog1">
                <div class="container1">
                    <div class="title">
                        <div>It takes courage to be a kind, charitable, and helpful person.</div>
                    </div>
                    <br>
                    <div class="blog-content1">
                        <!-- item -->
                        <div class="blog-item1">
                            <div class="blog-img1">
                                <img src="/assets/images/strength.jpg" alt="">
                            </div>
                            <div class="blog-text1">
                                <p>Several years ago, while I was living in the Philippines, my life was changed by two
                                    selfless strangers. I got lost in the mountains, and I didn’t speak a word of the
                                    local dialect. I thought it was the end for me. But then, two women locals appeared.
                                    I didn’t know them, and they didn’t know me. We could barely communicate with one
                                    another, but I trusted them to bring me to safety. And they did! </p>
                                <div> 1) Your Heritage Is an Asset. Use it!</div>
                                <p>Our worldview and life experiences are forever flavoured by our upbringing. Growing
                                    up in a southern California suburb—a place that was far from diverse—was no walk in
                                    the park for the daughter of Filipino immigrants. But I am immensely proud of my
                                    heritage, and what it has taught me about our shared humanity and the goodness of
                                    perfect strangers.
                                    My mother marched in the streets with the People Power Revolution in the
                                    Philippines, a movement that effectively ended the dictatorship of Ferdinand Marco
                                    and restored democracy to the country.
                                </p>
                                <div> 2) Privilege Doesn’t Have to Be a Dirty Word. Stand in the Gap.</div>
                                <p>I was practically predestined to work in fundraising, and I can’t believe I get to do
                                    this work for a living. Even as a person of colour, I feel very privileged that I
                                    can help others find their purpose, fulfil their dreams, and make a difference.
                                    A very wise boss once told me that if you are privileged enough to be of service to
                                    others, it’s important to “stand in the gap.” In other words, use your privilege for
                                    purpose.
                                    Most of our donors at Fistula Foundation will never know, see, or meet the fistula
                                    patients and survivors whose health and happiness they are helping to restore. But
                                    they know that—unlike the women they help—they are privileged to live in places with
                                    quality obstetric care, functional transportation, and the means to access surgery
                                    that will allow them to live freely in their society.
                                </p>
                                <div> 3) Philanthropy Is for All.</div>
                                <p>There’s an unfortunate misconception that you need to have a lot of money to engage
                                    effectively in philanthropy. But that couldn’t be further from the truth. The word
                                    “philanthropy” derives from an Ancient Greek phrase that means “to love people.”
                                    It’s a shame that philanthropy has become synonymous with being rich. At its core,
                                    it is about loving your fellow humans and giving what you have, no matter how big or
                                    small your gift might be.</p>
                            </div>
                        </div>
                        <!-- end of item -->
                    </div>
                </div>
            </section>
            <!-- end of blog -->


</body>

</html>