<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Indian Married Working Women!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/blog.css">
</head>

<body>

    <!-- design -->
    <section class="design" id="design">
        <div class="container">
            <div class="title">
                <h2>The Indian Married Working Women!</h2>
                <p>By: Priya Sri</p>
                <span>20 December, 2021</span>
            </div>

            <!-- blog -->
            <section class="blog1" id="blog1">
                <div class="container1">
                    <div class="title">
                        <div>Work life Balance</div>
                    </div>
                    <br>
                    <div class="blog-content1">
                        <!-- item -->
                        <div class="blog-item1">
                            <div class="blog-img1">
                                <img src="/assets/images/ind.jpg" alt="">
                            </div>
                            <div class="blog-text1">
                                <p>Women are known to be most dynamic and versatile around the world. They get molded
                                    easily into various forms starting from being a daughter, sister, wife, mother,
                                    friend and the list goes on. Every girl while growing has dreams and ambitions, they
                                    start silly such as wanting to be a princess but change into more realistic and
                                    strong thoughts with passing time & some actually end up becoming princesses too.
                                    Most reach the pinnacle of success while some let go of their ambitions and dreams.
                                    However, the journey of every woman is different but always challenging. It takes a
                                    big turn as women step into the world of a teenager, a young lady, marriage,
                                    motherhood and so on.</p>
                                <div> 1) Marriage makes you stronger and helps you grow as a women.</div>
                                <p>The first major leap is marriage in itself. You are out of the protective shelter of
                                    your parent’s home and you learn to deal with things on your own. The change is
                                    huge. Some women cut their wings here itself, and some continue to conquer skies. It
                                    all depends on the support of family members & surrounding environment. As you start
                                    to settle in the new phase, life starts to take big leaps.
                                </p>
                                <div> 2) Journey of a Mother</div>
                                <p>The next major leap is motherhood. This phase is beautiful, it helps you grow and
                                    bring out the qualities in you that you thought you never had. It teaches you to
                                    keep calm, to smile more – to love even more. When we talk all about the goody
                                    goodness of being a mother, a wife and having professional goals, we tend to forget
                                    the dark side of it.

                                    Being an Indian women we are raised to sacrifice, we are raised to keep our feelings
                                    at bay and do what is best for the family. This thought that is instilled in us from
                                    the very beginning makes it the reason why we find it so difficult to be a working
                                    women or a working mother.

                                    We are taught to think that men are bread earners while women are supposed to
                                    nurture the family, raise children and look after the elders. Even in times like
                                    today when most women do step out and have a professional life, the moment they get
                                    back home from work they magically flip a switch a turn from a fierce professional
                                    to a home maker, worried about the food that needs to be cooked, the kids and if the
                                    grocery is in order. Whereas when most men enter homes, they lounge on a sofa
                                    watching their favorite show.</p>
                                <div> 3) Job Options with Restricted Travel and Fixed Timings Are limited</div>
                                <p>Women in India filter the jobs based on timings, shifts and travel. Indian women
                                    prefer a teaching job which makes it easier to coordinate with the child’s school
                                    schedule. She may also opt for 9 to 6 jobs as night shifts or any other shifts may
                                    affect the family and disturb the routine.

                                    Nowadays, woman opt for sales role or consultant roles in various industries be it
                                    IT or non- IT, the need to travel within India or out of India has become very
                                    common. However, most of the times as a woman we end up refusing the travel
                                    assignment and this creates friction in the company and as a result the career
                                    growth is hampered by all these restrictions. This overall makes women objectifying.
                                </p>
                                <div> 4) why is this behavior considered normal? </div>
                                <p>All these changes makes me wonder – why is this behavior considered normal? It’s not
                                    like men have any less responsibility. Why should the women be the sole person
                                    responsible for keeping the house in order?

                                    When we dig further into this, it becomes clear that this behavior is more on the
                                    cultural end. As Indians we don’t let our sons enter kitchen or take up house
                                    related duties while we teach our daughters from a very young age to pick up after
                                    themselves. With the new-age mothers, times are now beginning to change. Women are
                                    often the ones who set a subconscious & conscious ground rule in the house. Mothers
                                    should teach the values of being a responsible individual irrespective of the
                                    child’s gender. It’s a thought we must inculcate in our self and our families from
                                    the very beginning.

                                    Moving on…

                                    With all the women power we have and so many families providing good education to
                                    their daughters, India still ranks at the bottom for number of working professionals
                                    women. This is really disturbing. Don’t we all know of many women who hold several
                                    degrees, master’s degrees and even a doctorate and are highly skillful but have
                                    chosen to become a “stay-at-home mum”, being a stay at home mum is no less of a
                                    challenging task & it is as respectable & important as a working mother. But it’s
                                    disturbing to know that most of these women don’t opt to be stay-home-mother out of
                                    choice but out of necessity so that they can fulfill their duties as a wife, a
                                    mother and a care giver.

                                </p>
                            </div>
                        </div>
                        <!-- end of item -->
                    </div>
                </div>
            </section>


</body>

</html>