<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/blog.css">
</head>

<body>

    <!-- design -->
    <section class="design" id="design">
        <div class="container">
            <div class="title">
                <h2>Blogs : community edition</h2>
                <p>Lets help make a difference!</p>
            </div>

            <!-- blog -->
            <section class="blog" id="blog">
                <div class="container">
                    <div class="title">
                        <h2>Latest Blogs</h2>
                        <p>Blogs on women empowerment!</p>
                    </div>
                    <br>
                    <div class="blog-content">
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/assets/images/GBV.jpg" alt="">
                                <span><i class="far fa-heart"></i></span>
                            </div>
                            <div class="blog-text">
                                <span>07 July, 2022</span>
                                <h2>5 Ways to Join the Activism Against Gender-Based Violence!</h2>
                                <span>By: Anne Fisher</span>
                                <p>Over 1 in 3 women have an experience of gender-based violence in their life.
                                    Over 5 girls or women are killed by a family member every hour.
                                    Less than 40% of women who experience GBV seek any type of help or support....
                                </p>
                                <a href="/home/blog1">Read More</a>
                                
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/assets/images/period.jpg" alt="">
                                <span><i class="far fa-heart"></i></span>
                            </div>
                            <div class="blog-text">
                                <span>18 March, 2022</span>
                                <h2>We Need to Talk About Periods in a More Inclusive Way!</h2>
                                <span>By: Richa S</span>
                                <p>The concepts of gender and sexuality are evolving at a decent pace to make the world
                                    more gender-fluid. Yet, the topic of ‘menstruation’ is still fraught with cissexism
                                    or the discrimination against transgender and gender-nonconforming individuals....
                                </p>
                                <a href="/home/blog2">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/assets/images/voilence.png" alt="">
                                <span><i class="far fa-heart"></i></span>
                            </div>
                            <div class="blog-text">
                                <span>20 June, 2022</span>
                                <h2>Men Need to Take Responsibility for the Epidemic of Men’s Violence:</h2>
                                <span>By: Shravya Singh</span>
                                <p>From domestic violence to mass shootings, men’s violence takes a deadly toll every
                                    day. Men’s violence has become mainstream in every corner of the world. It has been
                                    normalized through the Internet, social media, movies, computer games, TV and
                                    porn....
                                </p>
                                <a href="/home/blog3">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/assets/images/ind.jpg" alt="">
                                <span><i class="far fa-heart"></i></span>
                            </div>
                            <div class="blog-text">
                                <span>20 December, 2021</span>
                                <h2>The Indian Married Working Women!</h2>
                                <span>By: Priya Sri</span>
                                <p>Women are known to be most dynamic and versatile around the world. They get molded
                                    easily into various forms starting from being a daughter, sister, wife, mother,
                                    friend and the list goes on. Every girl while growing has dreams and ambitions, they
                                    start silly such as wanting to be a princess but change into more realistic and
                                    strong thoughts with passing time & some actually end up becoming princesses too....
                                </p>
                                <a href="/home/blog4">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/assets/images/strength.jpg" alt="">
                                <span><i class="far fa-heart"></i></span>
                            </div>
                            <div class="blog-text">
                                <span>20 January, 2022</span>
                                <h2>To Make an Impact, Use Your Strengths!</h2>
                                <span>By: Rehana M</span>
                                <p>Several years ago, while I was living in the Philippines, my life was changed by two
                                    selfless strangers. I got lost in the mountains, and I didn’t speak a word of the
                                    local dialect. I thought it was the end for me. But then, two women locals appeared.
                                    I didn’t know them, and they didn’t know me. We could barely communicate with one
                                    another, but I trusted them to bring me to safety.... </p>
                                <a href="/home/blog5">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                        <!-- item -->
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="/assets/images/mill.jpg" alt="">
                                <span><i class="far fa-heart"></i></span>
                            </div>
                            <div class="blog-text">
                                <span>30 April, 2022</span>
                                <h2>Millennial Girls: Apps Every Girl Should Have On Her Phone!</h2>
                                <span>By: Rishab Km</span>
                                <p>Between personal upkeep, work and your social life, being a millennial woman is hard.
                                    We need all the assistance we can get. And since it’s not always possible to hire
                                    personal assistants. The easiest way is to turn to our next best friend — our
                                    smartphones — to keep us organized and on top of the game....</p>
                                <a href="/home/blog6">Read More</a>
                            </div>
                        </div>
                        <!-- end of item -->
                    </div>
                    <h2>Share Your Thoughts With Us!</h2>
                    <button><a href="mailto:kaalifoundation@gmail.com">Send Email</a></button>
                </div>
            </section>
            <!-- end of blog -->

            <!-- about -->
            <section class="about" id="about">
                <div class="container">
                    <div class="about-content">
                        <div>
                            <br>
                            <img src="/assets/images/beyonce.jpg" alt="">
                        </div>
                        <div class="about-text">
                            <div class="title">
                                <h2>Beyonce</h2>
                                <p>American singer-songwriter</p>
                            </div>
                            <p>I put the definition of feminist in my song and on my tour, not for propaganda or to
                                proclaim to
                                the world that I'm a feminist, but to give clarity to the true meaning. I'm not really
                                sure
                                people know or understand what a feminist is, but it's very simple. It's someone who
                                believes in
                                equal rights for men and women.</p>
                            <p>We have to teach our boys the rules of equality and respect, so that as they grow up
                                gender
                                equality becomes a natural way of life. And we have to teach our girls that they can
                                reach as
                                high as humanly possible.</p>
                        </div>
                    </div>
                </div>
            </section>


</body>

</html>