<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/7aa1c87325.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/contact.css">
    <style>
      .center {
        text-align: center;
        width: 100%;
      }
    </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>
<section class="header">
  <div class="header">
    </div>
</section>
    <div class="part1">
        <img src="/assets/images/banner.png" alt="">
    </div>
    <div class="content">
        <h1> Get In Touch With Us</h1>
        <br>
        <div class="phone">
        <i class="fa-solid fa-phone fa-4x"></i>
        <p>Reach Out to Us</p>
        <p>Our 24/7 Crisis Helpline:</p>
        <br>
        <p>+91 9988776655</p>
    </div>
    <div class="thoughts">
        <h1>Write To Us</h1>
        <br>
    </div>
    <div class="arrow">
        <img src="/assets/images/arrow.png" alt="">
    </div>



    <div class="hero">
        <form action="/home/contactUs" method="post">

            <div class="row">
                <div class="input-group">
                    <input name = "contact[Name]" type="text" >
                    <label for="name"><i class="fa-solid fa-user"></i> Your Name</label>
                </div>
                <div class="input-group">
                     <input name = "contact[phone]" type="text" >
                    <label for="number"><i class="fa-solid fa-phone"></i> Phone No. </label>
                </div>
            </div>
            <div class="input-group">
                <input name = "contact[address]" type="email" > <label for="email"><i class="fa-solid fa-envelope"></i> Email
                    Id</label>
            </div>

            <div class="input-group">
                <textarea id="message"  name = "contact[message]" ></textarea>
                <label for="message"><i class="fa-solid fa-comment"></i> Your Message </label>
            </div>
            <button type="submit"> SUBMIT <i class="fa-solid fa-paper-plane"></i></button>
        </form>
    </div>
   
    <hr style="width: 100%;">
    <section class="part2">
        <div class="footer">
          <img src="/assets/images/logo.png" alt="" class="footing">
          <h3 style="text-align:center">About Us</h3>
    <p style="text-align:center">Kaali is a non progit organization aimed at fighting abuse againts women and providing the means to fight for their rights.</p>
    <p style="text-align:center">Be a part of the change. <a href="">Donate Now.</a></p>
    
          <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-linkedin"></i>
          </div>
          <p>Kaali 2022.<i class="fa-solid fa-copyright"></i> All Rights Reserved. Made with <i class="fa-solid fa-heart"></i></p>
          <br>
    
      </div>
    </section>
