<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/7aa1c87325.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/gallery.css">
    <style>
      .center {
        text-align: center;
        width: 100%;
      }
    </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>
<section class="header">
  <div class="header">
    </div>
</section>

<div class="part1">
  <h1>Our Gallery</h1>
<!-- <input type="radio" id="all" name="button" checked>
<label class="tag all" for="all">All Events</label> -->
<br>
<h2>Our Endeavours with Our Partners</h2>
<br>
<div class="images">
        <img src="/assets/images/dsce1.jpg">
        <img src="/assets/images/dsce2.jpg">
        <br>
        <img src="/assets/images/poster3.png">
        <img src="/assets/images/poster4.png">
</div>
</div>
<hr style="width: 100%;">
<section class="part2">
  <div class="footer">
    <img src="/assets/images/logo.png" alt="" class="footing">
    <h3 style="text-align:center">About Us</h3>
<p style="text-align:center">Kaali is a non profit organization aimed at fighting abuse againts women and providing the means to fight for their rights.</p>
<p style="text-align:center">Be a part of the change. <a href="">Donate Now.</a></p>

    <div class="icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <p>Kaali 2022.<i class="fa-solid fa-copyright"></i> All Rights Reserved. Made with <i class="fa-solid fa-heart"></i></p>
    <br>

</div>
</section> 
