<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/mainStat.css" />
    <link rel="stylesheet" href="/assets/css/trans.css" />
  </head>
  <body>
    <div class="section">
      <div class="text">
        <h1>HARYANA</h1>
        <p>
          One Stop Centre,Karnal <br /><br />
          Address:Mahila Complex, Behind State Transport Corporation, Bus Stand,
          Karnal, Karnal District, Haryana.<br /><br />
          Contacts: 0184-2270175 <br />Email Id:pokrl.wcd@gmail.com
        </p>
      </div>
      <img src="/assets/images/sakhi.jpeg" alt="" />
    </div>
  </body>
</html>
