<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/mainStat.css" />
    <link rel="stylesheet" href="/assets/css/trans.css" />
  </head>
  <body>
    <div class="section">
      <div class="text">
        <h1>MADHYA PRADESH</h1>
        <p>
          One Stop Centre,Bhopal <br /><br />
          Address:Near State Bank of India, J.P.Hospital premises, Bhopal City,
          Bhopal District, Madhya Pradesh .<br /><br />
          Contacts: 7552575251 <br />Email Id:bhopalosc.wcd@mp. gov.in
        </p>
      </div>
      <img src="/assets/images/sakhi.jpeg" alt="" />
    </div>
  </body>
</html>
