<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/mainStat.css" />
    <link rel="stylesheet" href="/assets/css/trans.css" />
  </head>
  <body>
    <div class="section">
      <div class="text">
        <h1>MIZORAM</h1>
        <p>
          One Stop Centre,Lunglei <br /><br />
          Address:One Stop Centre, Christian Hospital Serkawan, Annex
          Building.<br /><br />
          Contacts: 8974243453, 03722342738 <br />Email
          Id:onestopcentrellionestop@gmail.com
        </p>
      </div>
      <img src="/assets/images/sakhi.jpeg" alt="" />
    </div>
  </body>
</html>
