<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/mainStat.css" />
    <link rel="stylesheet" href="/assets/css/trans.css" />
  </head>
  <body>
    <div class="section">
      <div class="text">
        <h1>NAGALAND</h1>
        <p>
          One Stop Centre,Kohima <br /><br />
          Address:Directorate of Social Welfare, Opp Law College, Raj Bhawan
          area, Kohima 797001.<br /><br />
          Contacts: 9856087726, 7085097876 <br />Email
          Id:sakhiosc.kohima@gmail.com
        </p>
      </div>
      <img src="/assets/images/sakhi.jpeg" alt="" />
    </div>
  </body>
</html>
