
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/maindropDown.css" />
    <link rel="stylesheet" href="/assets/css/trans.css" />
  </head>
</head>
<section class="header">
  <div class="header">
    </div>
  
    <section class="section1">
      <div class="part1">
        <p class="heading">SHELTERS.</p>
        <p class="line  ">A Safe Space.</p>
      </div>
    </section>
    <section class="section2">
      <div class="part2">
        <p>A women's shelter is a place of temporary protection  and support for women escaping domestic violence 
          and intimate partner violence of all forms. When you feel unsafe everywhere, safety starts here. Find a 
        new life, a new you, at a shelter today.</p>
      </div>
    </section>
    <section class="section3">
      <div class="part3">
        <p class="choose">Choose Your City and find the top shelter:</p>
      </div>
    </section>
    <section class="section4">
    <div class="dropdown">
      <div class="select">
        <span class="selected">Karnataka</span>
        <div class="caret"></div>
      </div>
      <ul class="menu">
        <a style="text-decoration: none" href="/home/andhra"
          ><li>Andhra Pradesh</li></a
        >
        <a style="text-decoration: none" href="/home/aruna"
          ><li>Arunachal Pradesh</li></a
        >

        <a style="text-decoration: none" href="/home/assam"><li>Assam</li></a>

        <a style="text-decoration: none" href="/home/bih"><li>Bihar</li></a>
        <a style="text-decoration: none" href="/home/chatt"
          ><li>Chhattisgarh</li></a
        >
        <a style="text-decoration: none" href="/home/goa"><li>Goa</li></a>
        <a style="text-decoration: none" href="/home/guj"><li>Gujarat</li></a>
        <a style="text-decoration: none" href="/home/hary"><li>Haryana</li></a>
        <a style="text-decoration: none" href="/home/hima"
          ><li>Himachal Pradesh</li></a
        >
        <a style="text-decoration: none" href="/home/jhar"
          ><li>Jharkhand</li></a
        >
        <a style="text-decoration: none" href="/home/banga"
          ><li class="active">Karnataka</li></a
        >
        <a style="text-decoration: none" href="/home/kerala"
          ><li class="active">Kerala</li></a
        >
        <a style="text-decoration: none" href="/home/madhyap"
          ><li class="active">Madhya Pradesh</li></a
        >
        <a style="text-decoration: none" href="/home/maha"
          ><li class="active">Maharashtra</li></a
        >
        <a style="text-decoration: none" href="/home/mani"
          ><li class="active">Manipur</li></a
        >
        <a style="text-decoration: none" href="/home/megh"
          ><li class="active">Meghalaya</li></a
        >
        <a style="text-decoration: none" href="/home/mizoram"
          ><li class="active">Mizoram</li></a
        >
        <a style="text-decoration: none" href="/home/naga"
          ><li class="active">Nagaland</li></a
        >
        <a style="text-decoration: none" href="/home/1"
          ><li class="active">Odisha</li></a
        >
        <a style="text-decoration: none" href="/home/2"
          ><li class="active">Punjab</li></a
        >
        <a style="text-decoration: none" href="/home/3"
          ><li class="active">Rajasthan</li></a
        >
        <a style="text-decoration: none" href="/home/4"
          ><li class="active">Sikkim</li></a
        >
        <a style="text-decoration: none" href="/home/5"
          ><li class="active">Tamil Nadu</li></a
        >
        <a style="text-decoration: none" href="/home/6"
          ><li class="active">Telangana</li></a
        >
        <a style="text-decoration: none" href="/home/7"
          ><li class="active">Tripura</li></a
        >
        <a style="text-decoration: none" href="/home/8"
          ><li class="active">Uttar Pradesh</li></a
        >
        <a style="text-decoration: none" href="/home/9"
          ><li class="active">Uttarakhand</li></a
        >
        <a style="text-decoration: none" href="/home/10"
          ><li class="active">West Bengal</li></a
        >
      </ul>
    </div>
    <script>
      const dropdowns = document.querySelectorAll(".dropdown");
      dropdowns.forEach((dropdown) => {
        const select = dropdown.querySelector(".select");
        const caret = dropdown.querySelector(".caret");
        const menu = dropdown.querySelector(".menu");
        const options = dropdown.querySelectorAll(".menu li");
        const selected = dropdown.querySelector(".selected");

        select.addEventListener("click", () => {
          select.classList.toggle("select-clicked");
          caret.classList.toggle("caret-rotate");
          menu.classList.toggle("menu-open");
        });
        options.forEach((option) => {
          option.addEventListener("click", () => {
            selected.innerText = option.innerText;
            select.classList.remove("select-clicked");
            caret.classList.remove("caret-rotate");
            menu.classList.remove("menu-open");
            options.forEach((option) => {
              option.classList.remove("active");
            });
            option.classList.add("active");
          });
        });
      });
    </script>
</section>